*, *::before, *::after {
    box-sizing: border-box;
}
body { 
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article projectTree"
    "footer footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 15% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}
div {
    background-color: lightsalmon;
}
header, footer, article, nav{
    padding: 1.2em;
    background: lightsalmon;
}
img,picture,svg,video {
    max-width: 100%;
    display: block;
}

#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle { 
    grid-area: article;      
}
#mainNav { 
    grid-area: nav; 
}
#projectTree { 
    grid-area: projectTree; 
} 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body { 
        grid-template-areas: 
        "header"
        "article"
        "projectTree"
        "nav"
        "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;  
        grid-template-columns: 1fr;
    }
}
.navTaskDiv,.projectsDiv,.addProject {
    display: flex;
}