*, *::before, *::after {
    box-sizing: border-box;
}
body { 
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article projectTree"
    "footer footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 15% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}
.hellDiv {
	gap: 5px;
	display: flex;
	justify-content: space-between;
}
#tasks:hover, #starred{ 
    cursor: pointer;
}
header, footer, article, nav{
    padding: 1.2em;
    background: lightsalmon;
}
#projectTree {
    background-color: lightsalmon;
}
img,picture,svg,video {
    max-width: 100%;
    display: block;
}

.formHide{ 
    display: none;
}
.deleteTaskBtn {
	background-color: red;
}

#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle { 
    grid-area: article;      
}
#mainNav { 
    grid-area: nav; 
}
#projectTree { 
    grid-area: projectTree; 
} 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body { 
        grid-template-areas: 
        "header"
        "article"
        "projectTree"
        "nav"
        "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;  
        grid-template-columns: 1fr;
    }
}
.navTaskDiv,.projectsDiv,.addProject {
	gap: 10px;
    display: flex;
}

.leftTaskDiv, .rightTaskDiv {
	gap: 10px;
	display: flex;
	align-items: center;
}
.projectDescription {
	font-weight: 600;
}
/* FORM STYLING IGNORE */
.form-style-9, .taskDiv{
	background: #FAFAFA;
	padding: 30px;
	margin: 30px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.form-style-9 {
    max-width: 450px;

}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
/* FORM STYLING IGNORE */

/* Check Mark Styling */
.checked, .checkDiv {
	background-color: lightgray;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.taskTitleDiv {
	font-size: 1.3rem;
	font-weight: bold;
}
.checked::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.checked::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}